.error_mess{
    color: red;
    // font-size: 0.8rem;
}
.title{
    font-size: 1rem;
    font-weight: bold;
    padding: 1em 0.5em;
    
}
.input_field{
   font-size: 1rem;
   padding: 0.5em;
//    background-color: rgb(252, 253, 253);
   border-radius: 5px;
   border-color: rgb(150, 149, 148);
   width:100%;
   padding-top: 18px;
   
}
.overal_inputfield{
    padding: 4px;
}