$primary-blue: #3366ff;
$dark-grey: #474d66;
$grey: #7e8fa7;
$light-grey: #ccd9eb;
$default-background-grey: #ececef;
$white: #ffffff;
$pink: #ed4f9d;
$black: #26334d;
$green: #24d164;
$light-tan: #ffefd2;
$brown-text: #66460d;
$green-text: #317159;
$dark-blue: #0b1b6e;
$light-blue: #a5add4;
$dark-pink: #d26868;
$light-pink: #f1dbe7;
$light-green: #49c846;
$light-green: #f0fdf4;
$dark-yellow: #efcb4f;
$light-yellow: #fff5d2;
$dark-red: #ff6565;
$light-red: #ffe8e8;
